.*.sw?
*.py[co]
*.egg-info
*.launch
*~
*.key
*.key_secret
.svn
**/.vscode
.metadata
parser.out
/.idea
/env/
/Agents/*/{build,dist}/
/Agents/*.egg
/.project
/.pydevproject
/twistd.pid
/.settings
/build
/configs/
/config/
/docs/build/*
/docs/source/apidocs

#BEMOSS ignore
/log/*.*
.temp/*.*
/bemoss_lib/protocols/BACnet/bacnet-stack-0.8.2/
/running_agents.txt
/machine_ip.txt
/BEMOSS.pid
*.orig
bemoss/Applications/launch/
Agents/MultiBuilding/multibuildingagent.launch.json
Agents/LaunchFiles/*.launch.json
cassandra_settings.txt
/cassandra/

#!readme.txt*