{
    "driver_config": {"device_address": "2001:127",
    				  "device_id": 830568},
    "campus": "campus",
    "building": "building",
    "unit": "bacnet1",
    "driver_type": "bacnet",
    "registry_config":"/home/aditya/BEMOSS/Agents/BasicAgent/basic/830568.csv",
    "interval": 30,
    "timezone": "UTC"
}