


/*------------------------------------------------------------------
[6. Widget / .widget]
*/



.widget {
	position: relative;
	clear: both;
	padding-bottom: 30px;
	width: auto;
	overflow: hidden;
}

.widget-header {
	position: relative;
	height: 60px;
	line-height: 40px;
	background-color: rgba(0, 0, 0, 0.40);
	border: 1px solid rgba(254, 182, 203, 0.5);
}

.widget-header h3 {
	position: relative;
	top: 2px;
	left: 10px;
	display: inline-block;
	margin-right: 3em;
	font-size: 18px;
	font-weight: 300;
	color: #fff;
	line-height: 18px;
}

.widget-header [class^="icon-"], .widget-header [class*=" icon-"] {
	display: inline-block;
	margin-left: 13px;
	margin-right: -2px;
	font-size: 16px;
	color: #fff;
	vertical-align: middle;
}

.widget-content {
	padding: 20px 15px 15px;
	background-color: rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(254, 182, 203, 0.5);
}

.widget-header+.widget-content {
	border-top: none;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.widget-nopad .widget-content {
	padding: 0;
}

/* Widget Content Clearfix */	


.widget-content:before, .widget-content:after {
	content: "";
	display: table;
}

.widget-content:after {
	clear: both;
}

/* For IE 6/7 (trigger hasLayout) */


.widget-content {
	zoom: 1;
}

/* Widget Table */



.widget-table .widget-content {
	padding: 0;
}

.widget-table .table {
	margin-bottom: 0;
	border: none;
}

.widget-table .table tr td:first-child {
	border-left: none;
}

.widget-table .table tr th:first-child {
	border-left: none;
}

/* Widget Plain */



.widget-plain {
	background: transparent;
	border: none;
}

.widget-plain .widget-content {
	padding: 0;
	background: transparent;
	border: none;
}

/* Widget Box */



.widget-box {
}

.widget-box .widget-content {
	background: #E3E3E3;
	background: #FFF;
}

/*------------------------------------------------------------------
[7. Error / .error-container]
*/



.error-container {
	margin-top: 4em;
	margin-bottom: 4em;
	text-align: center;
}

.error-container h1 {
	margin-bottom: .5em;
	font-size: 120px;
	line-height: 1em;
}

.error-container h2 {
	margin-bottom: .75em;
	font-size: 28px;
}

.error-container .error-details {
	margin-bottom: 1.5em;
	font-size: 16px;
}

.error-container .error-actions a {
	margin: 0 .5em;
}

/* Message layout */

ul.messages_layout {
	position: relative;
	margin: 0;
	padding: 0
}

ul.messages_layout li {
	float: left;
	list-style: none;
	position: relative
}

ul.messages_layout li.left {
	padding-left: 75px
}

ul.messages_layout li.right {
	padding-right: 75px
}

ul.messages_layout li.right .avatar {
	right: 0;
	left: auto
}

ul.messages_layout li.right .message_wrap .arrow {
	right: -12px;
	left: auto;
	background-position: 0 -213px;
	height: 15px;
	width: 12px
}

ul.messages_layout li.by_myself .message_wrap .info a.name {
	color: #fff;
}

ul.messages_layout li a.avatar {
	position: absolute;
	left: 0;
	top: 0
}

ul.messages_layout li a.avatar img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

ul.messages_layout li .message_wrap {
	position: relative;
	padding: 10px;
	margin-bottom: 20px;
	float: left;
	background-color: rgba(0, 0, 0, 0.40);
	border: 1px solid rgba(254, 182, 203, 0.5);
}

ul.messages_layout li .message_wrap .arrow {
	background-position: 0 -228px;
	height: 15px;
	width: 12px;
	height: 15px;
	width: 12px;
	position: absolute;
	left: -12px;
	top: 13px
}

ul.messages_layout li .message_wrap .info {
	float: left;
	width: 100%;
	border-bottom: 1px solid rgba(254, 182, 203, 0.5);
	line-height: 23px
}

ul.messages_layout li .message_wrap .info .name {
	float: left;
	font-weight: bold;
	color: #d8d8d8;
}

ul.messages_layout li .message_wrap .info .time {
	float: left;
	font-size: 11px;
	margin-left: 6px
}

ul.messages_layout li .message_wrap .text {
	float: left;
	width: 100%;
	padding-top: 5px
}

ul.messages_layout .dropdown-menu li {
	width: 100%;
	font-size: 11px;
}

/*------------------------------------------------------------------
[8. Miscellaneous]
*/



.chart-holder {
	width: 100%;
	height: 250px;
}

.dropdown-menu li>a:hover, .dropdown-menu .active>a, .dropdown-menu .active>a:hover {
	background-color: rgba(0, 0, 0, 0.65);
}

.accordion-heading {
	background: #e5e5e5;
}

.accordion-heading a {
	color: #545454;
	text-decoration: none;
	font-weight: bold;
}

.btn-facebook-alt i {
	color: #23386a;
}

.btn-twitter-alt i {
	color: #0098d0;
}

.btn-google-alt i {
	color: #b6362d;
}

.btn-linkedin-alt i {
	color: #0073b2;
}

.btn-pinterest-alt i {
	color: #ab171e;
}

.btn-github-alt i {
	color: #333;
}

.all-icons li {
	list-style: none;
}





/*mailbox css*/


.mailbox {
    position: relative;
	border:1px solid rgba(255,255,255,0.3);
	margin:0;
	padding:0;
}
.mailbox p {
    font-size: 14px;
    margin: 0 0 0.2em;
}
.mailbox time {
    color: #333333;
    font-size: 11px;
}
.self .mailbox time {
    color: #FFFFFF;
}
.mini-stats {
    border-left: 1px solid #DDDDDD;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.mini-stats li {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #DDDDDD;
    padding-bottom: 6px;
    text-align: center;
}
.mini-stats .sparkline_bar_good, .mini-stats .sparkline_bar_neutral, .mini-stats .sparkline_bar_bad {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.mini-stats li:last-child {
    border-right: 0 none;
}
.mini-stats .values {
    font-size: 12px;
    padding: 10px 0;
}
.mini-stats .values strong {
    display: block;
    font-size: 18px;
    margin-bottom: 2px;
}
.mini-stats .sparkline_bar_good, .mini-stats .sparkline_bar_neutral, .mini-stats .sparkline_bar_bad {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.mini-stats .sparkline_bar_good {
    color: #459D30;
}
.mini-stats .sparkline_bar_neutral {
    color: #757575;
}
.mini-stats .sparkline_bar_bad {
    color: #BA1E20;
}


.mailbox-list {
    background-color: rgba(0,0,0,0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    float: left;
    height: 620px;
    list-style: none outside none;
    padding: 0;
	margin:0;
    width: 260px;
}
.mailbox-list .mailbox-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 25px 15px 20px 25px;
    position: relative;
}
.mailbox-list .mailbox-item span {
    color: #fff;
    display: block;
}
.mailbox-list .mailbox-item .mailbox-item-star, .mailbox-list .mailbox-item .mailbox-item-attachment, .mailbox-list .mailbox-item .mailbox-item-time, .mailbox-list .mailbox-item .mailbox-item-time .mailbox-item-actions {
    position: absolute;
}
.mailbox-list .mailbox-item .mailbox-item-star {
    left: 7px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out 0s;
}
.ie8 .mailbox-list .mailbox-item .mailbox-item-star {
    display: none;
}
.ie8 .mailbox-list .mailbox-item:hover .mailbox-item-star {
    display: block;
}
.mailbox-list .mailbox-item .mailbox-item-attachment {
    left: 7px;
    top: 45px;
}
.mailbox-list .mailbox-item .mailbox-item-avatar {
    border-radius: 4px 4px 4px 4px;
    float: left;
    height: 40px;
    width: 40px;
}
.mailbox-list .mailbox-item .mailbox-item-from, .mailbox-list .mailbox-item .mailbox-item-subject {
    margin-left: 45px;
}
.mailbox-list .mailbox-item .mailbox-item-from {
    font-weight: bold;
    margin-top: 2px;
}
.mailbox-list .mailbox-item .mailbox-item-time {
    opacity: 1;
    right: 15px;
    top: 8px;
    transition: opacity 0.2s ease-in-out 0s;
}
.mailbox-list .mailbox-item .mailbox-item-time .text {
    color: #ccc;
    font-size: 12px;
}
.mailbox-list .mailbox-item .mailbox-item-time .mailbox-item-actions {
    opacity: 0;
    right: 0;
    top: 0;
    transition: opacity 0.2s ease-in-out 0s;
    width: 75px;
}
.ie8 .mailbox-list .mailbox-item .mailbox-item-time .mailbox-item-actions {
    display: none;
}
.mailbox-list .mailbox-item .mailbox-item-time .mailbox-item-actions > a, .mailbox-list .mailbox-item .mailbox-item-time .mailbox-item-actions .dropdown > a {
    color: #ccc;
    margin-left: 5px;
}
.mailbox-list .mailbox-item .mailbox-item-time .mailbox-item-actions > div {
    display: inline-block;
}
.mailbox-list .mailbox-item .mailbox-item-time .mailbox-item-actions .dropdown-menu {
    margin-top: 0;
}
.mailbox-list .mailbox-item .mailbox-item-time .mailbox-item-actions .tag-icon {
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    height: 11px;
    margin: 0 5px 0 -13px;
    width: 11px;
}
.mailbox-list .mailbox-item .mailbox-item-time:hover .text {
    opacity: 0;
}
.mailbox-list .mailbox-item .mailbox-item-time:hover .mailbox-item-actions {
    opacity: 1;
}
.mailbox-list .mailbox-item .mailbox-item-subject {
    font-size: 12px;
    margin-bottom: 4px;
}
.mailbox-list .mailbox-item .mailbox-item-preview {
    color: #ccc;
    font-size: 12px;
}
.mailbox-list .mailbox-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer !important;
}
.mailbox-list .mailbox-item:hover .mailbox-item-star {
    opacity: 0.2;
}
.mailbox-list .mailbox-item.active {
    background-color: rgba(0, 0, 0, 0.3);
}
.mailbox-list .mailbox-item.starred .mailbox-item-star {
    display: block;
    opacity: 1;
}
.mailbox-content {
    background-color: rgba(0, 0, 0, 0);
    height: auto;
    margin-left: 260px;
    position: relative;
    width: auto;
}
.mailbox-content .message-header {
    background-color: rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 30px 25px;
}
.mailbox-content .message-header .message-from {
    font-weight: bold;
}
.mailbox-content .message-header .message-to {
    color: #999999;
}
.mailbox-content .message-header .message-time {
    color: #999999;
    position: absolute;
    right: 15px;
    top: 10px;
}
.mailbox-content .message-header .message-actions {
    left: 50%;
    margin-left: -65.7px;
    position: absolute;
    width: 115px;
	margin-top: 16px;
}
.mailbox-content .message-header .message-actions a {
    background-color: rgba(0,0,0,0.5);
    border-bottom: 1px solid rgba(255,255,255,0.25);
    border-left: 1px solid rgba(255,255,255,0.25);
    border-top: 1px solid rgba(255,255,255,0.25);
    color: #CFCAE0;
    margin: 0 0 0 -4px;
    padding: 4px 7px;
}
.mailbox-content .message-header .message-actions a:hover {
    color: #5E518D;
}
.mailbox-content .message-header .message-actions a:first-child {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding-left: 10px;
}
.mailbox-content .message-header .message-actions a:last-child {
    border-bottom-right-radius: 15px;
    border-right: 1px solid rgba(255,255,255,0.25);
    border-top-right-radius: 15px;
}
.mailbox-content .message-content {
    padding: 25px;
}

/*mailbox css end*/
